@{ ViewData["Title"] = "Hello Mockups"; }

<div>
    <h1>Mockups</h1>
    <ul>
        <li>
            <a asp-area="" asp-controller="Mockups" asp-action="Quiz">Quiz</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Mockups" asp-action="QuizResult">QuizResult</a>
        </li>
    </ul>
</div>