@{ ViewData["Title"] = "Quiz"; }

<h1>Quiz results</h1>
<div>
    <h2>Right Answers @ViewData["Correct"] out @ViewData["Total"]</h2>
    <ol>
        @foreach (var res in (ViewBag.Result))
        {
            <li> @res </li>
        }
    </ol>
</div>